body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
}

#root {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
}

#slider-container {
    display: flex;
    align-items: center;
}


#optionsMenu-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
}